#container{
    width: 100%;
    height: 100%;
}

#header{
    // ヘッダー全体のマージン
    margin-top: 35px;
    #title{
        :nth-child(1){
            font-weight: bold;
        }
        :nth-child(3){
            font-size: 12px;
            margin-left: 35px;
        }
    }
    #menu{
        text-align: left; 
        ul{
            list-style-type: none;
            text-align: right;
        }
        li{
            display: inline-block;
            margin: 10px;
            font-weight: bold;
        }
    }
}

#canvas{
    width: 100%;
    height: 100%;
}